<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Yireo\ExampleDealers\Ui\DataProvider\SearchResult" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">example_dealers</argument>
            <argument name="resourceModel" xsi:type="string">Yireo\ExampleDealers\Model\ResourceModel\Dealer\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dealers_grid_data_source" xsi:type="string">Yireo\ExampleDealers\Ui\DataProvider\SearchResult</item>
            </argument>
        </arguments>
    </type>
</config>